.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
  cursor: pointer;
}

.spinner {
  height: 80px;
  margin: auto;
}

.App-intro {
  font-size: large;
}

/* Spinner */
.container {
  width: 200px;
  border-color: #F00 rgba(226, 218, 218, 0.1) #F00;
  position: relative;
  margin: 8% auto;
}
.container div {
  position: absolute;
  border-color: #F00 rgba(226, 218, 218, 0.1) rgba(226, 218, 218, 0.1);
  border-width: 5px;
  border-style: solid;
  border-radius: 50%;
}
.container .one {
  width: 20px;
  height: 20px;
  left:0;  
  animation: spinner .4s infinite linear
}
.container .two {
  width: 50px;
  height: 50px;
  left: -15px;
  top: -15px;
  animation: spinner .7s infinite linear
}
.container .three {
  width: 80px;
  height: 80px;
  top: -30px;
  left: -30px;
  animation: spinner .6s infinite linear
}

@keyframes spinner {
  0% {
    transform: rotate(0deg)
  }
  100%{
    transform: rotate(360deg)
  }
}

/* new css for movie component */

* {
  box-sizing: border-box;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.App-header h2 {
  margin: 0;
}

.add-movies {
  text-align: center;
}

.add-movies button {
  font-size: 16px;
  padding: 8px;
  margin: 0 10px 30px 10px;
}

.movie {
  padding: 5px 25px 10px 25px;
  max-width: 25%;
}

.errorMessage {
  margin: auto;
  font-weight: bold;
  color: rgb(40, 40, 40);
}


.search {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}


input[type="submit"] {
  padding: 5px;
  background-color: transparent;
  color: black;
  border: 1px solid black;
  width: 80px;
  margin-left: 5px;
  cursor: pointer;
}


input[type="submit"]:hover {
  background-color: #282c34;
  color: antiquewhite;
}


.search > input[type="text"]{
  width: 40%;
  min-width: 170px;
}

@media screen and (min-width: 694px) and (max-width: 915px) {
  .movie {
    max-width: 33%;
  }
}

@media screen and (min-width: 652px) and (max-width: 693px) {
  .movie {
    max-width: 50%;
  }
}


@media screen and (max-width: 651px) {
  .movie {
    max-width: 100%;
    margin: auto;
  }
}
